.section {
    margin-bottom: 10%;
}
.heading {
    padding-top: 5%;
    &--center {
        text-align: center;
    }
}
.contact {
    &--center {
        text-align: center;
    }
}
/* body {
    background-color: black;
    color: white
} */
html {
    scroll-behavior: smooth;
}